################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CinestarAPI2.pyproj
/CinestarAPI2.sln
